# LinuxServer.io user/group
PUID=1000
PGID=1000
TZ=America/Sao_Paulo

# WireGuard
WG_SERVERURL=SEU_ELASTIC_IP_AQUI
WG_SERVERPORT=51820
WG_PEERS=3
WG_PEERDNS=1.1.1.1
WG_INTERNAL_SUBNET=10.13.13.0
WG_ALLOWEDIPS=10.13.13.0/24

# VPN gateway usado pelo HAProxy
VPN_GATEWAY_IP=10.13.13.1

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=troque_essa_senha
POSTGRES_DB=finances_db
POSTGRES_PORT=5432