global
    daemon

defaults
    mode http

frontend http
    bind *:80
    default_backend backends

backend backends
    balance roundrobin
    server b1 backend1:3000 check
    server b2 backend2:3000 check
    server b3 backend3:3000 check
    