global
    daemon

defaults
    mode http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend http
    bind *:80

    acl is_api path_beg /api

    use_backend backends if is_api
    default_backend frontend

backend frontend
    server front frontend:80 check

backend backends
    balance roundrobin
    server b1 backend1:3000 check
    server b2 backend2:3000 check
    server b3 backend3:3000 check

