global
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80

    acl is_api path_beg /api
    acl is_health path -i /health

    use_backend backend_api if is_api
    use_backend backend_api if is_health
    default_backend frontend_app

backend backend_api
    balance roundrobin
    option httpchk GET /health
    http-check expect status 200

    server b1 backend1:5000 check
    server b2 backend2:5000 check
    server b3 backend3:5000 check

backend frontend_app
    server frontend frontend:80 check